<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Define various log targets: File, Console -->
	<targets>
		<target xsi:type="File" name="file" fileName="C:\temp\ADP.Reporting.ConsoleTool-${shortdate}.json">
			<layout xsi:type="JsonLayout">
				<attribute name="timestamp" layout="${longdate}" />
				<attribute name="level" layout="${level}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=toString,StackTrace}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="eventProperties" encode="false" layout="${all-event-properties:format=toString}" />
				<attribute name="machineName" layout="${machinename}" />
				<attribute name="processId" layout="${processid}" />
				<attribute name="threadId" layout="${threadid}" />
			</layout>
		</target>
	</targets>

	<!-- Define rules to map from loggers to targets -->
	<rules>
		<logger name="System.*" finalMinLevel="Warn" />
		<logger name="Microsoft.*" finalMinLevel="Warn" />
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Warn" />
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>
